<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>

<body>
    <!-- Quest Image -->
    <img alt="Quest Logo" width="144" height="59" src="https://terpconnect.umd.edu/~jbono/bmgt408c/images/quest-logo.png">
    <h1>Nicholas McGonigle</h1>
    <!-- Start of a basic about me section with some links and lists-->
    <h2>About Me</h2>
    <p>This section is a brief intro into who I am with some of my favorite <strong>hobbies</strong> and <strong>foods</strong></p>
    <h3>Hobbies</h3>
    <ol>
        <li><em>Bouldering</em> (at <a href="https://www.sportrock.com/rio">Sportrock)</a></li>
        <li>Chess (played on <a target="_blank" href="https://chess.com">chess.com</a>)</li>
        <li>Spending time with friends</li>
    </ol>
    <h3>Foods</h3>
    <ul>
        <li>Pasta</li>
        <li>Pancakes</li>
        <li>Milkshakes</li>
    </ul>
    <!-- Start of a basic section about my academics-->
    <h2>Coursework</h2>
    <p>I am in my <em>Sophmore</em> year of college as a Computer Science Student and here is a quick look into my coursework so far.</p>
    <table>
        <caption>Computer Science Classes</caption>
        <thead>
            <tr>
                <th>Course</th>
                <th>Semester Taken</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CMSC 131</td>
                <td>Exempt</td>
            </tr>
            <tr>
                <td>CMSC 132</td>
                <td>Exempt</td>
            </tr>
            <tr>
                <td>CMSC 216</td>
                <td>Freshman Year (Fall)</td>
            </tr>
            <tr>
                <td>CMSC 250</td>
                <td>Freshman Year (Fall)</td>
            </tr>
            <tr>
                <td>CMSC 330</td>
                <td>Freshman Year (Spring)</td>
            </tr>
            <tr>
                <td>CMSC 351</td>
                <td>Freshman Year (Spring)</td>
            </tr>
            <tr>
                <td>CMSC 335</td>
                <td>Sophmore Year (Fall)</td>
            </tr>
            <tr>
                <td>CMSC 430</td>
                <td>Sophmore Year (Fall)</td>
            </tr>
        </tbody>
    </table>
    <!-- End of page and link back to /hello route-->

    <p>That's it for the about me click <a href="/hello">here</a> to return to the hello page</p>
</body>
</html>