{% extends "base_old.html" %}
{% block title %}Contact Me{% endblock %}
{% block body %}
    <h1>Contact Me</h1>

    {% if not formSubmitted %}
    <form method="POST" action="{{ url_for('contact') }}">
        <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input name="firstname" type="text" class="form-control" id="firstname">
            <label for="lastname" class="form-label">Last Name</label>
            <input name="lastname" type="text" class="form-control" id="lastname">
            <label for="email" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="email">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input name="phonenumber" type="text" class="form-control" id="phoneNumber">
            <p>Enter Your Message: </p>
            <textarea name="message"></textarea><br>
            <label for="urgent">This is urgent!</label>
            <input name="urgent" id="urgent" type="checkbox">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>You can tell me about your favorite course <a href="{{ url_for('favCourse')}}">here!</a></p>

    {% else %}
        <h2 class="mt-3">You Entered</h2>
        {% for i in request.form %}
            <p>{{ i }}: {{ request.form.get(i) }}</p>
        {% endfor %}
    {% endif %}
    <a class="btn btn-info" href="{{ url_for('favCourse') }}">Tell me your favorite course while you wait</a>

{% endblock %}